In [23]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import numpy as np
import pandas as pd
from selenium import webdriver
import requests as req

In [24]:
#def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
executable_path = {"executable_path":"/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
def close_brower(browser):
    browser.quit()

In [4]:
def scrape():
## initialize and populate mars dict to hold all scraping results 
    mars = {}
    mars["news_data"] = news()
    mars["featured_image"] = images()
    mars["weather_data"] = weather()
    mars["mars_facts"] = facts()

## Scrape Latest Mars News

In [5]:

    
## initialize browser and latest_news dict
browser = init_browser()

    
## define url and command browser to visit and parse HTML for posts tag   
nasa_url= "https://mars.nasa.gov"
news_url= "https://mars.nasa.gov/news/"
browser.visit(news_url)
    
html = browser.html
soup = bs(html, "html.parser")
news = soup.find('li', class_='slide')

# see result
news

<li class="slide"><div class="image_and_description_container"><a href="/news/8588/nine-finalists-chosen-in-nasas-mars-2020-rover-naming-contest/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite. </div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="This illustration depicts NASA's next Mars rover, which launches in 2020." src="/system/news_items/list_view_images/8588_name20190625-320x240.jpg"/></div><div class="bottom_gradient"><div><h3>Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest</h3></div></div></a><div class="list_text"><div class="list_date">January 21, 2020</div><div class="content_title"><a href="/news/8588/nine-finalists-chosen-in-nasas-mars-2020-rover-naming-contest/" target="_self">Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest</a></div><div class="article_teaser_body">Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite. </div></div></div></li>

In [6]:
## Create empty dict to hold data  
latest_news = {}

## Identify and return title of post
title = news.find('div', class_='content_title').text

## Identify and return date of post
date = news.find('div', class_='list_date').text

## Identify and return description to post
description = news.find('div', class_='article_teaser_body').text

## identify and return links to post
link = news.a['href']

## add results to latest_news dictionary
        
latest_news['news_title'] = title
latest_news['news_date'] = date
latest_news['news_about'] = description
latest_news["link"] = f'{nasa_url}{link}'


## close browser
#close_browser(browser)

## print out dict to see result
latest_news

{'news_title': "Nine Finalists Chosen in NASA's Mars 2020 Rover Naming Contest",
 'news_date': 'January 21, 2020',
 'news_about': "Nine finalists have been chosen in the essay contest for K-12 students across U.S. to name NASA's next Mars rover. Now you can help by voting for your favorite. ",
 'link': 'https://mars.nasa.gov/news/8588/nine-finalists-chosen-in-nasas-mars-2020-rover-naming-contest/'}

## JPL Maars Spaace Images - Featured Image

In [7]:
##Initialize browser
browser = init_browser()

## create empty dictionary to hold results
marsimages = {}

## define image URL
image_url= "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)
    
##  get tags for Featured Image carousel
html = browser.html
soup = bs(html, "html.parser")
img_result = soup.find('div', class_='carousel_container')
    

## Identify and store featured image link
image_path = img_result.find('a', class_='button fancybox').get("data-fancybox-href")
featured_image_url= f'https://www.jpl.nasa.gov{image_path}'
## Dictionary to be inserted as a MongoDB document
marsimages["Featured Image URL"] = featured_image_url
            
## close browser
# close_browser(browser)

## print out results
marsimages

{'Featured Image URL': 'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA00046_ip.jpg'}

## Latest Mars Weather from Twitter

In [25]:
weather_url= "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)

In [26]:
html = browser.html
soup = bs(html, "html.parser")

In [27]:
wweather = soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(wweather)

InSight sol 411 (2020-01-22) low -96.4ºC (-141.4ºF) high -16.7ºC (1.9ºF)
winds from the S at 5.6 m/s (12.6 mph) gusting to 22.7 m/s (50.8 mph)
pressure at 6.30 hPapic.twitter.com/nogRqYba3I

In [31]:
##Initialize browser
#browser = init_browser()
browser.visit(weather_url)
## create empty dictionary to hold results
latest_weather = {}
    
## define twitter weather URL
weather_url= "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)
    
html = browser.html
soup = bs(html, "html.parser")
wweather = soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(wweather)

latest_weather["Latest Mars Weather"] = wweather

latest_weather

InSight sol 411 (2020-01-22) low -96.4ºC (-141.4ºF) high -16.7ºC (1.9ºF)
winds from the S at 5.6 m/s (12.6 mph) gusting to 22.7 m/s (50.8 mph)
pressure at 6.30 hPapic.twitter.com/nogRqYba3I

{'Latest Mars Weather': 'InSight sol 411 (2020-01-22) low -96.4ºC (-141.4ºF) high -16.7ºC (1.9ºF)\nwinds from the S at 5.6 m/s (12.6 mph) gusting to 22.7 m/s (50.8 mph)\npressure at 6.30 hPapic.twitter.com/nogRqYba3I'}

## Mars Facts

In [44]:
browser = init_browser()
mars_facts = {}
    
facts_url= "https://space-facts.com/mars/"
tables = pd.read_html(facts_url)
print(tables)

basicinfo_df = tables[0]
comparison_df = tables[1]
comparison_df.columns = ["Mars-Earth Comparison" , "Mars","Earth"]
marsfacts_df = tables[2]
marsfacts_df.columns = ["Mars Planet Profile" , "Data"]

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers,   Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [45]:
marsearth_df = comparison_df.to_html(classes = 'table table-striped')
print(marsearth_df)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars-Earth Comparison</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Temperature:</td>
      <td>-153 to 20 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

In [46]:
marsfacts_df = marsfacts_df.to_html(classes = 'table table-striped')
print(marsfacts_df)

<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars Planet Profile</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>